<div>
  <!-- [hidden]="!todo.id" -->
  <div>
    <span>id={{itemuparray.id}}, title={{itemuparray.title}}</span>
    <!-- принемает значение из itemuparray -->
  </div>

  <div class="form-group">
    <label for="action">Action</label>
    <input type="text" [(ngModel)]="todo.title">
  </div>
  <!-- установлена двухстороняя связь для работы с знвчением переменной -->
  <button [disabled]="!todo.title || !(todo.title !==itemuparray.title)" type="button" class="btn btn-primary" (click)='onAdd()'>Сохранить</button>
  <button type="button" class="btn btn-primary" (click)='onClear()'>Очистить</button>
  <button type="button" class="btn btn-primary" (click)='onCancel()'>Отменить</button>
  <button type="button" class="btn btn-primary" (click)='onClose()'>Закрыть</button>
  <!-- событие click вызывает функцию onAdd и -->

</div>
