<div class="size panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      <span class="glyphicon glyphicon-plus-sign"></span> Форма указана в отдельной компоненте form.component
    </h4>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="action">Action</label>
        <input type="text" [(ngModel)]="valueFromInput">
      </div>
      <ul>
        <li *ngFor='let todo of todos'>{{ todo }}
          <button type="button" class="btn btn-primary" (click)="onDelete(todo)">Add</button>
        </li>

      </ul>

      <button type="button" class="btn btn-primary" (click)="onClick()">Add</button>
    </form>
  </div>
</div>
