<div class="size panel panel-default">
  <div class="panel-heading">
    <h4 class="pannel-title">
      <span class="glyphicon glyphicon-plus-sign"></span> Форма указана в отдельной компоненте form.component
    </h4>
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="action">Action</label>
        <input *ngFor="let task of tasks" type="text" class="form-control" id="action" placeholder="Action" #action>
      </div>

      <button type="button" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
